@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import 'navbar.css';
@import 'home/hero.css';
@import 'Features/Features.css';


/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #2471a3; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}